/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@font-face {
  @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");
  @import url("https://p.typekit.net/p.css?s=1&k=zoc8uhz&ht=tk&f=15665.15666&a=43843172&app=typekit&e=css");
}
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  margin: auto;
}
.dialogue.alert {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.alert > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.alert > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.alert > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.alert > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.alert > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.alert > .button-container > button:active {
  background-color: #b19c76;
}
.dialogue.confirm {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dialogue.confirm > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 16px;
}
.dialogue.confirm > p {
  padding: 0px 16px 8px 16px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.confirm > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.dialogue.confirm > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.confirm > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.confirm > .button-container > button:active {
  background-color: #b19c76;
}
.dialogue.prompt {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 16px;
}
.dialogue.prompt > h2 {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 8px 0px;
}
.dialogue.prompt > p {
  padding: 8px 0px;
  font-size: 0.875rem;
  line-height: 1.2em;
}
.dialogue.prompt > .input-container {
  margin-top: 8px;
  padding: 16px 0px;
}
.dialogue.prompt > .input-container > input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  height: 36px;
  border: 1px solid #e4e8eb;
  background-color: transparent;
  color: white;
}
.dialogue.prompt > .input-container > input:hover {
  border: 1px solid #e4e8eb;
}
.dialogue.prompt > .input-container > input:focus {
  border: 1px solid #e4e8eb;
}
.dialogue.prompt > .button-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
}
.dialogue.prompt > .button-container > button {
  background-color: transparent;
  color: white;
  padding: 8px 16px;
  font-size: 0.75rem;
  border-radius: 4px;
}
.dialogue.prompt > .button-container > button:hover {
  background-color: rgba(177, 156, 118, 0.8);
}
.dialogue.prompt > .button-container > button:active {
  background-color: #b19c76;
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.layout {
  width: 100%;
}
.layout > header {
  max-width: 1240px;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  border-bottom: 1px solid #ccc;
}
.layout > header > img {
  width: 64px;
}
.layout > main {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 32px 0px;
}
.layout > footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  border-top: 1px solid #ccc;
  max-width: 1240px;
  margin: auto;
}
.layout > footer > .footer-container {
  font-weight: 300;
  padding: 20px 0px;
}
.home-view > .title-container > h2 {
  font-size: 20px;
  font-weight: 600;
}
.home-view > .title-container > p {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2rem;
}
.home-view > .content > ul {
  margin-top: 16px;
  display: flex;
  align-items: center;
  color: #767676;
  font-size: 12px;
  list-style: none;
  padding: 0;
}
.home-view > .content > ul > li {
  display: flex;
  align-items: center;
}
.home-view > .content > ul > li > img {
  width: 24px;
  margin-right: 2px;
}
.home-view > .content > ul > li > span {
  margin-right: 8px;
}
.home-view > .content > table {
  margin-top: 8px;
  border: 1px solid #dadce0;
}
.home-view > .content > table > thead {
  display: table-header-group;
  vertical-align: middle;
  overflow: auto;
}
.home-view > .content > table > thead > tr {
  border-bottom: 1px solid #dadce0;
}
.home-view > .content > table > thead > tr > th {
  vertical-align: middle;
  background-color: #fff;
  border-left: 1px solid #dadce0;
  border-right: 1px solid #dadce0;
  padding: 0px 20px;
  left: 0;
  height: 56px;
  text-align: left;
  font-weight: 600;
}
.home-view > .content > table > tbody > tr > th {
  vertical-align: middle;
  background-color: #fff;
  border-left: 1px solid #dadce0;
  border-right: 1px solid #dadce0;
  padding: 0px 20px;
  left: 0;
  height: 36px;
  text-align: left;
  font-weight: 400;
}
.home-view > .content > table > tbody > tr > td {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
}
.home-view > .content > table > tbody > tr > td > img {
  height: 28px;
}

